@model PrimeiroApp.Models.Usuario

@{
    ViewData["Title"] = "DetalhesUsuario";
}

<h1>Detalhes do Usuario</h1> <hr />

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeUsu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeUsu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cargo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNasc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNasc)
        </dd>
    </dl>
</div>
<div>
    <button type ="button" class="btn btn-warning">
    @Html.ActionLink("Editar", "AtualiarUsuario", new {  id = Model.UsuId }) 
    </button>
	<button type="button" class="btn btn-secondary">
        @Html.ActionLink("Voltar", "Index")
	</button>
</div>
